<!DOCTYPE html>
<html>

<head>
  <title>Privacy</title>
  <meta charset="utf-8">
</head>

<body>
  <center> <h1>ประกาศความเป็นส่วนตัว​ (Privacy Notice)</h1></center>
  <div>
    <p>1. บทนำ</p>
    <p>
      ศูนย์เทคโนโลยีสารสนเทศและการสื่อสาร หรือ ศทส. (“สำนักงาน”)
      ตระหนักและให้ความสำคัญในการคุ้มครองข้อมูลส่วนบุคคลของผู้มาติดต่อและใช้บริการของสำนักงาน (“ท่าน”)
      โดยสำนักงานจะดูแลและบริหารจัดการข้อมูลส่วนบุคคลของท่านอย่างโปร่งใส เป็นธรรม
      และเป็นไปตามข้อกำหนดของกฎหมายคุ้มครองข้อมูลส่วนบุคคลรวมถึงกฎหมายอื่นที่เกี่ยวข้อง
      โดยประกาศความเป็นส่วนตัวนี้ (“ประกาศ”) จะแจ้งให้ท่านทราบถึงวิธีการที่สำนักงานเก็บรวบรวม ใช้ เปิดเผย
      และปกป้องดูแลข้อมูลส่วนบุคคลของท่าน
      สำนักงานขอแนะนำให้ท่านอ่านและทำความเข้าใจประกาศนี้ก่อนให้ข้อมูลส่วนบุคคลกับสำนักงาน หากท่านมีข้อกังวล
      ข้อสงสัยหรือต้องการสอบถามข้อมูลเพิ่มเติมเกี่ยวกับประกาศนี้ตลอดจนถึงประกาศและนโยบายอื่น ๆ ที่เกี่ยวข้อง
      โปรดติดต่อสำนักงานตามช่องทางการติดต่อที่ปรากฏท้ายประกาศนี้
    </p>
    <br>
    <p>2.ข้อมูลส่วนบุคคลของท่าน</p>
    <p>
      ข้อมูลส่วนบุคคล คือ ข้อมูลเกี่ยวกับบุคคลซึ่งทำให้สามารถระบุตัวบุคคลนั้นได้ ไม่ว่าทางตรงหรือทางอ้อม เช่น ชื่อ
      นามสกุล
      หมายเลขบัตรประจำตัวประชาชน หมายเลขโทรศัพท์ วันเดือนปีเกิด รหัสส่วนตัว รูปภาพ หรือวิดีโอ รวมถึงข้อมูลทางชีวมิติ
      (Biometric) เช่น ใบหน้า ลายนิ้วมือ เป็นต้น แต่ไม่รวมถึงข้อมูลของผู้ถึงแก่กรรม

      โดยทั่วไป สำนักงานจะเก็บรวบรวมข้อมูลส่วนบุคคลจากการที่ท่านเป็นผู้ให้ข้อมูลนั้นกับสำนักงานโดยตรง เช่น
      กรอกข้อมูลบนแบบฟอร์ม การให้ข้อมูลผ่านโทรศัพท์หรือเว็บไซต์หรือแอปพลิเคชันต่าง ๆ ที่สำนักงานจัดให้มีขึ้น เป็นต้น
      เว้นแต่บางกรณีสำนักงานอาจได้รับข้อมูลส่วนบุคคลของท่านจากบุคคลที่สาม
      โดยสำนักงานเชื่อโดยสุจริตว่าบุคคลที่สามดังกล่าวมีสิทธิเก็บข้อมูลส่วนบุคคลของท่านและเปิดเผยกับสำนักงาน
      และสำนักงานจะเก็บรวบรวมข้อมูลส่วนบุคคลเท่าที่จำเป็น และใช้ข้อมูลดังกล่าวตามวัตถุประสงค์ที่กำหนด
      ซึ่งเป็นวัตถุประสงค์ที่ชอบด้วยกฎหมาย
      หรือเป็นการดำเนินการตามข้อกำหนดของกฎหมายที่ให้สำนักงานต้องจัดเก็บข้อมูลดังกล่าว

      ทั้งนี้ ในกรณีที่ท่านมีการติดต่อหรือใช้บริการผ่านเว็บไซต์หรือแอปพลิเคชันของสำนักงาน
      สำนักงานมีความจำเป็นต้องปฏิบัติตามกฎหมายซึ่งกำหนดให้สำนักงานต้องเก็บรวบรวมข้อมูลของท่านจากการเข้าใช้งานดังกล่าว
      เช่น
      หมายเลข IP Address เป็นต้น นอกจากนี้ เพื่ออำนวยความสะดวกในการใช้บริการเว็บไซต์หรือแอปพลิเคชัน
      สำนักงานอาจมีการใช้เทคโนโลยีอัตโนมัติในการเก็บรวบรวมข้อมูลการใช้งานของท่าน ซึ่งอาจรวมถึง คุกกี้ เว็บบีคอน
      พิกเซลแท็ก
      และเทคโนโลยีการติดตามอื่น ๆ ที่มีลักษณะคล้ายกัน โดยสำนักงานขอเรียกรวมกันว่า “คุกกี้ (Cookie)”
      ซึ่งท่านสามารถอ่านรายละเอียดการใช้คุกกี้ได้บนเว็บไซต์ ศทส.

      ข้อมูลอ่อนไหว (Sensitive Data) ด้วยกฎหมายคุ้มครองข้อมูลส่วนบุคคลได้มีการกำหนดข้อมูลบางประเภทให้เป็นข้อมูลอ่อนไหว
      เช่น เชื้อชาติ ศาสนา พฤติกรรมทางเพศ ความคิดเห็นทางการเมือง ความพิการ ข้อมูลพันธุกรรม ข้อมูลชีวภาพ ข้อมูลสุขภาพ
      เป็นต้น และการเก็บรวบรวมจะทำได้ต้องเป็นไปตามที่กฎหมายกำหนด ซึ่งรวมถึงอาจต้องได้รับความยินยอมจากท่าน ดังนั้น
      สำนักงานจะดำเนินการเก็บรวบรวมข้อมูลอ่อนไหวเฉพาะในกรณีที่จำเป็นเท่านั้น
      และสำนักงานจะแจ้งให้ท่านทราบอย่างชัดแจ้งถึงเหตุผลความจำเป็น
      รวมถึงอาจดำเนินการขอความยินยอมจากท่านเพื่อเก็บรวบรวมข้อมูลอ่อนไหวดังกล่าวในบางกรณี

      ข้อมูลส่วนบุคคลของผู้เยาว์ บุคคลเสมือนไร้ความสามารถ และบุคคลไร้ความสามารถ
      (“บุคคลที่ถูกจำกัดความสามารถทางกฎหมายในการทำธุรกรรม”)
      สำนักงานจะทำการประมวลผลข้อมูลส่วนบุคคลของบุคคลที่ถูกจำกัดความสามารถทางกฎหมายในการทำธุรกรรมเฉพาะกรณีเท่าที่จำเป็นและตามแนวทางที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลกำหนด
      โดยในกรณีที่สำนักงานมีความจำเป็นจะต้องประมวลผลข้อมูลส่วนบุคคลของบุคคลที่ถูกจำกัดความสามารถทางกฎหมายในการทำธุรกรรมสำหรับกิจกรรมใด
      สำนักงานจะดำเนินการขอความยินยอมจากผู้ปกครองหรือผู้ใช้อำนาจปกครอง ผู้พิทักษ์ หรือผู้อนุบาล
      ที่มีอำนาจกระทำการแทนบุคคลดังกล่าว (แล้วแต่กรณี) ด้วย
      เว้นแต่เป็นกรณีขอความยินยอมในการประมวลผลข้อมูลส่วนบุคคลของผู้เยาว์ที่มีอายุมากกว่า 10 ปี
      ซึ่งเป็นการเฉพาะตัวหรือเป็นการสมแก่ฐานานุรูปแห่งตนและเป็นการอันจำเป็นในการดำรงชีพอันสมควร
      ซึ่งผู้เยาว์ดังกล่าวสามารถให้ความยินยอมโดยลำพังได้

      สำหรับข้อมูลส่วนบุคคลของท่านที่สำนักงานอาจมีการเก็บรวบรวม มีดังต่อไปนี้
      1) เมื่อท่านได้มาติดต่อ เข้าร่วมกิจกรรม หรือขอรับบริการใด ๆ ของสำนักงาน
      หรือกรณีสำนักงานมีการดำเนินภารกิจเกี่ยวกับงานวิจัยและสำรวจ โดยสำนักงานอาจมีการเก็บรวบรวมข้อมูลส่วนบุคคลจากท่าน
      เช่น
      • ข้อมูลส่วนตัว เช่น ชื่อ นามสกุล หมายเลขบัตรประชาชน เป็นต้น
      • ข้อมูลการติดต่อ เช่น อีเมล หมายเลขโทรศัพท์ ที่อยู่ ช่องทางติดต่อในสื่อสังคมออนไลน์ สถานที่ทำงาน เป็นต้น
      • ข้อมูลเกี่ยวกับงานของท่าน เช่น อาชีพ ตำแหน่ง หน่วยงานต้นสังกัด เป็นต้น
      • ข้อมูลด้านเทคนิคและการใช้ข้อมูล เช่น IP Address ในกรณีที่ท่านเข้ารับบริการผ่านระบบออนไลน์ของสำนักงาน เป็นต้น
      • ข้อมูลส่วนตัวอื่น ๆ ที่ท่านให้สำนักงานด้วยความสมัครใจ

      2) เมื่อท่านเข้ามาในบริเวณพื้นที่ของสำนักงาน โดยสำนักงานอาจมีการบันทึกภาพของท่านโดยใช้กล้องวงจรปิด (CCTV) ทั้งนี้
      สำนักงานจะติดป้ายแจ้งให้ท่านทราบว่ามีการใช้กล้องวงจรปิดในบริเวณพื้นที่ของสำนักงาน
      3) เมื่อท่านเข้ามาในบริเวณพื้นที่ที่สำนักงานมีการจัดประชุม สัมมนา ประชาพิจารณ์ หรือกิจกรรมใด ๆ
      โดยสำนักงานอาจมีการบันทึกภาพถ่ายหรือวีดีโอ เพื่อเก็บบันทึกข้อมูลการจัดกิจกรรม
      หรือเพื่อใช้ประกอบการจัดทำสื่อประชาสัมพันธ์ของสำนักงาน ทั้งนี้
      สำนักงานจะติดป้ายแจ้งให้ท่านทราบว่ามีการบันทึกภาพถ่ายหรือวีดีโอในบริเวณพื้นที่ดังกล่าว
    </p>
    <br>
    <p>3. สำนักงานเก็บรวบรวมข้อมูลส่วนบุคคลของท่านเพื่ออะไร</p>
    <p>
      สำนักงานอาจมีความจำเป็นต้องเก็บรวบรวม ใช้หรือเปิดเผยข้อมูลส่วนบุคคลของท่าน เพื่อ
      1) ให้ท่านเข้าใช้บริการหรือเข้าร่วมกิจกรรมต่าง ๆ ของสำนักงาน
      2) ให้สำนักงานสามารถให้ความช่วยเหลือ ตอบข้อซักถามหรือข้อร้องเรียนของท่าน
      3) สำรวจและรวบรวมข้อมูลทางสุขภาพ
      4) วิเคราะห์ ตรวจสอบเพื่อปรับปรุงการดำเนินกิจกรรมหรือการให้บริการ
      ตลอดจนสนับสนุนการวิจัยและพัฒนานวัตกรรมใหม่ที่จะทำให้ท่านได้รับความสะดวกสบายและได้รับประสบการณ์ที่ดียิ่งขึ้นในการเข้าใช้บริการของสำนักงาน
      5) ประชาสัมพันธ์กิจกรรมและข้อมูลข่าวสารของสำนักงานให้กับท่านทราบ ตลอดจนเชิญท่านเข้าร่วมกิจกรรมต่าง ๆ ของสำนักงาน
      6) ป้องกันการกระทำที่ผิดกฎหมาย โดยสำนักงานอาจมีการตรวจสอบข้อมูลที่เก็บรวบรวม รวมถึงข้อมูลในกล้อง CCTV
      เพื่อสอดส่องดูแล ตรวจจับ และป้องกันไม่ให้มีการกระทำที่ผิดกฎหมาย
      7) ปฏิบัติงานตามหน้าที่ที่กฎหมายของสำนักงาน หรือกฎหมายอื่นกำหนดให้สำนักงานต้องปฏิบัติ</p>

    <br>
    <p>4. กฎหมายอนุญาตให้สำนักงานเก็บรวบรวม ใช้และเปิดเผยข้อมูลส่วนบุคคลของท่านอย่างไร</p>
    <p>
      ในการเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของท่านนั้น
      สำนักงานจะดำเนินการเท่าที่จำเป็นและเป็นไปตามข้อกำหนดของกฎหมายคุ้มครองข้อมูลส่วนบุคคล
      โดยกฎหมายคุ้มครองข้อมูลส่วนบุคคลได้กำหนดหลักการและเหตุผลทางกฎหมายไว้หลายประการตามสถานการณ์ที่แตกต่างกัน
      ซึ่งอนุญาตให้สำนักงานในฐานะผู้ควบคุมข้อมูลส่วนบุคคลตามกฎหมายนี้สามารถดำเนินการเก็บรวบรวม
      ใช้และเปิดเผยข้อมูลส่วนบุคคลของท่านได้
      ทั้งนี้ โดยทั่วไป สำนักงานจะเก็บรวบรวม ใช้ และเปิดเผยข้อมูลส่วนบุคคลของท่าน เมื่อมีฐานทางกฎหมายรองรับ ดังนี้
      ท่าน หรือผู้แทนโดยชอบด้วยกฎหมายของท่านให้ความยินยอม (Consent)
      เป็นการจำเป็นเพื่อการปฏิบัติตามสัญญาที่ท่านได้เข้าผูกพันกับสำนักงาน
      หรือเพื่อใช้ในการดำเนินการตามคำขอของท่านก่อนเข้าทำสัญญากับสำนักงาน (Contract)
      เป็นการจำเป็นในการปกป้องหรือระงับอันตรายต่อชีวิต ร่างกาย หรือสุขภาพของบุคคล (Vital Interest)
      เป็นการจำเป็นเพื่อการปฏิบัติหน้าที่ในการดำเนินภารกิจเพื่อประโยชน์สาธารณะของสำนักงาน
      หรือปฏิบัติหน้าที่ในการใช้อำนาจรัฐที่ได้มอบให้แก่สำนักงาน (Public Task / Official Authority)
      เป็นการจำเป็นเพื่อประโยชน์โดยชอบด้วยกฎหมายของสำนักงาน หรือของบุคคลหรือนิติบุคคลอื่น
      เว้นแต่ประโยชน์ดังกล่าวมีความสำคัญน้อยกว่าสิทธิขั้นพื้นฐานในข้อมูลส่วนบุคคลของท่าน (Legitimate Interest)
      เป็นการจำเป็นเพื่อให้บรรลุวัตถุประสงค์ที่เกี่ยวกับการจัดทำเอกสารประวัติศาสตร์หรือจดหมายเหตุ เพื่อประโยชน์สาธารณะ
      หรือที่เกี่ยวกับการศึกษาวิจัยหรือสถิติซึ่งได้จัดให้มีมาตรการปกป้องที่เหมาะสม เพื่อคุ้มครองสิทธิและเสรีภาพของท่าน
      ทั้งนี้ ตามที่คณะกรรมการคุ้มครองข้อมูลส่วนบุคคลประกาศกำหนด (Scientific or Research)
      เป็นการจำเป็นเพื่อปฏิบัติตามกฎหมายที่เกี่ยวข้อง (Legal Obligation)
      ประกาศนี้เป็นการกำหนดหลักการและหลักปฏิบัติกลาง (main notice)
      โดยสำนักงานมีการดำเนินกิจกรรมและการให้บริการที่หลากหลาย
      ทั้งกิจกรรมสำหรับบริการภายนอก และกิจกรรมสำหรับการดำเนินกิจการภายใน
      ซึ่งเป็นส่วนหนึ่งของการปฏิบัติหน้าที่ตามกฎหมายของสำนักงาน
      โดยแต่ละกิจกรรมและบริการเหล่านั้นจำเป็นต้องมีการเก็บรวบรวม
      ใช้ และเปิดเผยข้อมูลของท่าน โดยลิงก์กิจกรรมและบริการต่าง ๆ ด้านล่างนี้
      จะอธิบายและให้รายละเอียดกับท่านเกี่ยวกับการเก็บรวบรวม ใช้
      และเปิดเผยข้อมูลของท่านที่แต่ละกิจกรรมหรือแต่ละบริการมีการดำเนินการ
    </p>

    <br>
    <p> 5. สิทธิของท่านในข้อมูลส่วนบุคคล
    </p>
    <p>
      เจ้าของข้อมูลมีสิทธิตามกฎหมายคุ้มครองข้อมูลส่วนบุคคล
      และสำนักงานให้ความสำคัญอย่างยิ่งในการดูแลและอำนวยความสะดวกแก่ท่านในฐานะเจ้าของข้อมูลในการดำเนินการตามสิทธิเหล่านั้น
      ดังนี้
      สิทธิในการได้รับแจ้ง สำนักงานจะมีการแจ้ง “ประกาศการคุ้มครองข้อมูลส่วนบุคคล (Privacy Notice)”
      ที่มีรายละเอียดวัตถุประสงค์ในการเก็บรวบรวม ใช้ และเปิดเผยที่ชัดเจน
      สิทธิในการเพิกถอนความ ท่านสามารถขอเพิกถอนความยินยอมที่เคยให้สำนักงานไว้ได้ทุกเมื่อ
      สิทธิในการเข้าถึงข้อมูล ท่านสามารถขอเข้าถึงข้อมูลส่วนบุคคลของท่าน และขอสำเนาข้อมูลส่วนบุคคล
      ตลอดจนสามารถขอให้สำนักงานเปิดเผยการได้มาซึ่งข้อมูลดังกล่าวได้
      สิทธิในการแก้ไขข้อมูล ท่านสามารถขอปรับปรุงแก้ไขข้อมูลส่วนบุคคลที่ไม่ถูกต้องได้ เพื่อให้ข้อมูลดังกล่าวมีความถูกต้อง
      เป็นปัจจุบัน และไม่ก่อให้เกิดความเข้าใจผิด
      สิทธิในการลบข้อมูล ท่านสามารถขอให้สำนักงานลบ หรือทำลาย
      หรือทำให้ข้อมูลส่วนบุคคลเป็นข้อมูลที่ไม่สามารถระบุตัวบุคคลที่เป็นเจ้าของข้อมูลได้
      สิทธิในการโอนข้อมูล
      ในกรณีที่ระบบข้อมูลของสำนักงานรองรับการอ่านหรือใช้งานโดยทั่วไปด้วยเครื่องมือหรืออุปกรณ์ที่ทำงานอัตโนมัติ
      และสามารถใช้ หรือเปิดเผยข้อมูลส่วนบุคคลได้ด้วยวิธีการอัตโนมัติ ท่านสามารถขอรับสำเนาข้อมูลส่วนบุคคลของท่านได้
      รวมถึงขอให้มีการโอนถ่ายข้อมูลดังกล่าวไปยังผู้ควบคุมข้อมูลอื่นโดยอัตโนมัติได้
      และขอรับข้อมูลส่วนบุคคลที่มีการส่งหรือโอนดังกล่าวได้
      สิทธิในการระงับการใช้ข้อมูล ท่านสามารถขอให้สำนักงานระงับการใช้ข้อมูลส่วนบุคคลได้
      สิทธิในการคัดค้านการประมวลผลข้อมูล ท่านสามารถขอคัดค้านการประมวลผลข้อมูลส่วนบุคคลได้
      ทั้งนี้ ในบางกรณีสำนักงานอาจปฏิเสธคำขอใช้สิทธิข้างต้นได้ หากมีเหตุอันชอบธรรมด้วยกฎหมาย หรือเป็นการดำเนินการใด ๆ
      เพื่อวัตถุประสงค์หรือเป็นกรณีที่ต้องปฏิบัติตามกฎหมายหรือคำสั่งศาล
      หรือเป็นกรณีที่อาจส่งผลกระทบและก่อให้เกิดความเสียหายต่อสิทธิหรือเสรีภาพของเจ้าของข้อมูลหรือบุคคลอื่น
      หากท่านมีความประสงค์ที่จะใช้สิทธิดังกล่าว ท่านสามารถดำเนินการได้ตามข้อแนะนำที่อธิบายไว้ใน
      การตรวจสอบและการขอใช้สิทธิ
      บนเว็บไซต์ ศทส.</p>

      <br>
    <p> 6.สิทธิ์การเข้าถึงต่างๆ
      <ul>
        <li>กล้อง (CAMERA)<br>แอปพลิเคชันต้องการเข้าถึงกล้อง เพื่อใช้ในการยืนยันตัวตนในการเข้าใช้งานr</li>
        <li>External
          storage<br>แอปพลิเคชันต้องการการเข้าถึงเพื่ออ่านและเขียนที่จัดเก็บข้อมูลภายนอกบนอุปกรณ์ของผู้ใช้ในกรณีที่มีการบันทึกสุขภาพ
          สำหรับการเขียน ระบบจะบันทึกภาพลงในอุปกรณ์ของผู้ใช้หลังจากถ่ายภาพ</li>
      </ul>
    </p>





  </div>
</body>

</html>